body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4ea;
  }
  
  .container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  form {
    margin: 20px 0;
  }
  
  input {
    width: 60%;
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #6417ab;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  #results {
    margin-top: 20px;
  }
  
  .product {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background: #fff;
  }
  